---
import People from "./People.astro";
---

<div class="people_container">
	<div class="people">
		<People />
	</div>
</div>

<footer>
	<span>Kijkgat&copy;</span>
</footer>
<style>
	footer {
		margin: 0;
		padding: 0 1em;
		border-top: 0.4rem solid black;
		display: flex;
		justify-content: center;
	}
	span {
		padding-top: 0.3rem;
		text-align: center;
	}
	.people {
		width: 18%;
		margin-bottom: -10px;
	}
	.people_container {
		display: flex;
		justify-content: center;
	}
</style>
