---
import People from "./People.astro";
---

<div class="people_container">
	<div class="people">
		<People />
	</div>
</div>

<footer>
	<span
		>Kijkgat&copy; <a href="mailto:kijkgat@outlook.com">kijkgat@outlook.com</a>
		 is ontwikkeld door Michelle van der Plaats en Allert Sjabbens. <br />
		 Online gezet door <a href="https://potloodgum.com">Potloodgum</a></span
	>
</footer>
<style></style>
