---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & {
	active?: boolean;
};

const { active, href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;

const isActive =
	href === pathname || href === pathname.replace(/\/$/, "") || active;
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		text-decoration: none;
		padding: 1rem;
	}
	a.active {
		font-weight: bolder;
		color: #005cef;
	}
</style>
